@using Footballers_v2.Enums
@model Footballer
@{ var TeamNames = @ViewData["ListTeamNames"] as List<string>;}

<h1>Добавь футболиста</h1>
<p>На этой странице вы можете добавить футболиста в базу данных, введя его имя, фамилию, пол, дату рождения, команду</p>

<form method="post">
    <input hidden asp-for="Id" value="@Guid.NewGuid()"/>

    <div class="form-element">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" />
        <span asp-validation-for="FirstName"></span>
    </div>

    <div class="form-element">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" />
        <span asp-validation-for="LastName"></span>
    </div>

    <div class="form-element">
        <label asp-for="Gender"></label>
        <div class="radio_button">
            <div class="radio_button_content">
                <input type="radio" asp-for="Gender" name="Gender" value="Мужчина" />
                <span>Мужчина</span>
            </div>
            <div class="radio_button_content">
                <input type="radio" asp-for="Gender" name="Gender" value="Женщина" />
                <span>Женщина</span>
            </div>
        </div>
        <span asp-validation-for="Gender"></span>
    </div>

    <div class="form-element">
        <label asp-for="Birthday"></label>
        <input type="date" asp-for="Birthday" />
        <span asp-validation-for="Birthday"></span>
    </div>

    <div class="form-element">
        <label asp-for="TeamName"></label>
        <div class="dropdown">
            <input type="text" asp-for="TeamName" />
            <select onchange="this.previousElementSibling.value=this.value; this.previousElementSibling.focus()">
                <option hidden></option>
                @if (@TeamNames is not null)
                    @foreach (string teamName in @TeamNames){<option>@teamName</option>}
            </select>
        </div>
        <span asp-validation-for="TeamName"></span>
    </div>

    <div class="form-element">
        <label asp-for="Country"></label>
        <select asp-for="Country" asp-items="@Html.GetEnumSelectList(typeof(Country))"></select>
        <span asp-validation-for="Country"></span>
    </div>

    <input disabled class="btn btn-primary" type="submit" id="sendBtn" value="Отправить" />
</form>


<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
<script src="~/js/add.js"></script>
